.container{
    /* border-style: solid;
    border-color: red;
    color: white; */

    max-width: 1170px;
    margin: 0 auto;
}

.nav{
    
}

.header_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    
}